@import url(https://fonts.googleapis.com/css?family=VT323);


#screen {
    visibility: hidden;
}

.scottish,
.scottish .xterm-rows,
.scottish .xterm-viewport {
    background-color: #005EB8 !important;
    color: white !important;
}

.old_computer,
.old_computer .xterm-rows,
.old_computer .xterm-viewport {
    background-color: black !important;
    color: #33FF00 !important;
    font-family: 'VT323', monospace !important;
    font-size: 19px !important;
}

#success {
    display: none;
    margin-top: 1em;
}

#play_button {
    display: none;
}

#replay {
    display: none;
    margin-top: 1em;
}

#prologue img {
    width: 300px;
    max-width: 90%;
    height: auto;
    border: 3px solid rgb(238, 238, 238);
    border-radius: 5px;
}

#audio {
    display: none;
}