#screen {
    visibility: hidden;
    background-color: #005EB8 !important;
}

#terminal .xterm-rows, 
#terminal .xterm-screen,
#terminal .xterm-viewport {
    background-color: #005EB8 !important;
    color: white !important;

}

#success {
    display: none;
}

#play_button {
    display: none;
}

#prologue img {
    max-width: 100%;
    height: auto;
    border: 3px solid rgb(238, 238, 238);
    border-radius: 5px;
}