@import url(https://fonts.googleapis.com/css?family=VT323);

* {
	box-sizing: border-box;
}

html {
	font-family: 'VT323', monospace ;
	font-size: 24px;
}

body {
	background: slategray;
	margin: 0;
	overflow-y: scroll;
	padding: 2ch;
/*	text-align: center;*/
}

.btn {
	background: #7C7C7C;
	border-bottom: 6px inset rgba(0,0,0,.5);
	border-left: 6px inset rgba(0,0,0,.5);
	border-right: 6px inset rgba(255,255,255,.5);
	border-top: 6px inset rgba(255,255,255,.5);
	box-sizing: border-box;
	color: white;
	cursor: pointer;
	display: inline-block;
	font-size: 1rem;
	margin: 0rem;
	padding: .5rem;
	/* text-transform: uppercase; */
	text-decoration: none;
	
	&:focus,
	&:hover {
		background: #BCBCBC;
	}
}

.btn-primary {
	background: #881400;
	
	&:focus,
	&:hover {
		background: #A81000;
	}
}

.btn-secondary {
	background: #005800;
	
	&:focus,
	&:hover {
		background: #006800;
	}
}

.btn-tertiary {
	background: #0000BC;
	
	&:focus,
	&:hover {
		background: #0000FC;
	}
}