#introduction {
    display: none;
}

#question0 {
    display: none;
}

#question0-input {
    width: 100%;
    max-width: 700px; 
}

#question1 {
    display: none;
}

#question2 {
    display: none;
}

#question3 {
    display: none;
}

#conclusion {
    display: none;
}

#score-0-comment {
    display: none;
}

#score-1-comment {
    display: none;
}

#score-2-comment {
    display: none;
}

#score-3-comment {
    display: none;
}

#restart {
    display: none;
}