#prologue {
    display: none;
}

#question_0 {
    display: none;
}

#question_0_input {
    width: 100%;
    max-width: 700px; 
}

#question_0_form {
    display: none;
}

#question_0_next {
    display: none;
}

#question_0_hints p {
    display: none;
}

#question_1 {
    display: none;
}

#question_1_input {
    width: 100%;
    max-width: 700px; 
}

#question_1_form {
    display: none;
}

#question_1_next {
    display: none;
}

#question_1_hints p {
    display: none;
}

#question_2 {
    display: none;
}

#question_2_input {
    width: 100%;
    max-width: 700px; 
}

#question_2_form {
    display: none;
}

#question_2_next {
    display: none;
}

#question_2_hints p {
    display: none;
}

#question_3 {
    display: none;
}

#question_3_input {
    width: 100%;
    max-width: 700px; 
}

#question_3_form {
    display: none;
}

#question_3_next {
    display: none;
}

#question_3_hints p {
    display: none;
}

#epilogue {
    display: none;
}

#score_0_comment {
    display: none;
}

#score_1_comment {
    display: none;
}

#score_2_comment {
    display: none;
}

#score_3_comment {
    display: none;
}

#notfound {
    display: none;
}