#section-introduction {
    display: none;
}

#section-question-0 {
    display: none;
}

#section-question-1 {
    display: none;
}

#section-question-2 {
    display: none;
}

#section-question-3 {
    display: none;
}

#section-conclusion {
    display: none;
}

#score-0-comment {
    display: none;
}

#score-1-comment {
    display: none;
}

#score-2-comment {
    display: none;
}

#score-3-comment {
    display: none;
}

#resit {
    display: none;
}