#screen {
    position: relative;
    background-color: rgb(25, 26, 25); 
    width: 100%;
    max-width: 960px;
    height: 410px;
    border: 1px solid white;
}

#terminal .xterm-rows, #loading {
	font-family: 'VT323', monospace;
	font-size: 22px;
    line-height: 26px;

}

#loading {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    text-align: center;
    color: #F5F2E7;
    white-space: pre;
    padding: 0;
    margin: 0;
    margin-block: 0;
    width: 100%;
    border-width: 0;
}

#success {
    margin-top: 1em;
    visibility: hidden;
}
